# Make sure scripts and mapfiles use Unix line endings.
* text=auto

*.map text
*.prj text
*.py  text
*.svg text
*.txt text

*.dbf binary
*.png binary
*.qix binary
*.shp binary
*.shx binary

# Shell scripts used to build Docker images must use LF, even on Windows.
# Be careful when editing these files from a Windows machine.
docker/** binary
