aiohttp==3.9.0
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.1.0
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==38.0.4
Deprecated==1.2.13
frozenlist==1.3.3
idna==3.4
jwcrypto==1.4.2
multidict==6.0.2
pycparser==2.21
wrapt==1.14.1
yarl==1.8.1
opencensus-ext-azure==1.1.8