aiohttp==3.13.5
aiosignal==1.4.0
async-timeout==4.0.2
attrs==25.4.0
azure-monitor-opentelemetry==1.8.7
cffi>=2.0.0
charset-normalizer==3.4.7
cryptography==46.0.7
frozenlist==1.8.0
idna==3.15
jwcrypto==1.5.7
multidict==6.7.1
pycparser==3.0
yarl===1.23.0
