aiohttp==3.13.5
aiosignal==1.4.0
async-timeout==5.0.1
attrs==26.1.0
azure-monitor-opentelemetry==1.8.8
cffi>=2.0.0
charset-normalizer==3.4.7
cryptography==46.0.7
frozenlist==1.8.0
idna==3.16
jwcrypto==1.5.7
multidict==6.7.1
pycparser==3.0
yarl===1.24.2
