-r requirements.txt

aiohttp-devtools==1.0.post0
anyio==3.6.2
asttokens==2.2.0
click==8.1.3
devtools==0.10.0
executing==1.2.0
Pygments==2.13.0
six==1.16.0
sniffio==1.3.0
watchgod==0.8.2
wrapt==1.14.1
yarl==1.8.1

