aiohttp==3.14.0
amsterdam-schema-tools==7.6.3
attrs==26.1.0
certifi==2024.7.4
charset-normalizer==3.4.7
click==8.4.1
idna==3.16
isort==8.0.1
jsonref==1.1.0
jsonschema==4.26.0
lark-parser==0.12.0
mappyfile==1.1.1
pyrsistent==0.20.0
requests==2.34.2
urllib3==2.7.0
pre-commit==4.6.0
