aiohttp==3.9.2
amsterdam-schema-tools==5.0.1
attrs==21.4.0
certifi==2023.7.22
charset-normalizer==2.0.12
click==8.1.3
idna==3.3
isort==5.10.1
jsonref==0.2
jsonschema==4.5.1
lark-parser==0.12.0
mappyfile==0.9.7
pyrsistent==0.18.1
requests==2.31.0
urllib3==1.26.18
