aiohttp==3.13.4
amsterdam-schema-tools==7.6.3
attrs==25.4.0
certifi==2024.7.4
charset-normalizer==3.4.6
click==8.3.1
idna==3.11
isort==5.10.1
jsonref==0.2
jsonschema==4.26.0
lark-parser==0.12.0
mappyfile==0.9.7
pyrsistent==0.20.0
requests==2.33.0
urllib3==2.6.3
pre-commit==4.5.1
